.SideBar{
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
}

.option{
    display: flex;
    background-color: #fafafb;
    margin: 15px;
    border-radius: 1.5rem;
    height: 2.5rem;
}

.option > div:nth-of-type(1){
    color:#f96e32 ;
}

.option > div:nth-of-type(2){
    color:#f99728 ;
}

.option:hover{
    background-color: transparent;
    border: 1px solid #fafafb;
}