
    .appBar {
      position: 'relative'
    }
    .flex {
      flex: 1
    }
    .imgContainer {
      position: 'relative';
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16;
      flex: 1;
    }
    .img {
      max-width: 100%;
      max-height: 100%;
    }